<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div style="text-align: center">
    <div class="login-logo" style="display: inline-block">
        <img
                src="https://www.ssafysignal.site/static/media/Mainlogo.f02b20540d0591f10ccb.png"
                alt="modalLogo"
                style="width: 409px; height: 205px; margin: 30px 0px" />
    </div>
    <div>
        <p th:text="${content}" style="font-weight: bold; font-size: large; padding-top: 30px"></p>
        <button
                style="
            height: 90px;
            font-weight: bold;
            font-size: x-large;
            margin-top: 40px;
            padding: 20px 16px;
            background-color: rgb(87, 75, 159);
            border-style: none;
            border-radius: 25px;
          ">
            <a th:href="${url}" th:text="${text}" style="text-decoration: none; color: white"></a>
        </button>
    </div>
</div>
</body>
</html>
