@font-face {
  font-family: 'Yeonsung';
  src: url('YeonSung-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'himelody';
  src: url('HiMelody-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'dohyeon';
  src: url('DoHyeon-Regular.ttf') format('truetype');
}

