.user-profile-input-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  /* justify-content: center; */
}

.user-profile-input-title {
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  padding: 30px 0px;
}

.user-profile-input-input {
  width: 450px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-profile-input-chip {
  overflow: auto;
  width: 400px;
  height: 200px;
  padding: 5px;
}

.user-profile-input-chip::-webkit-scrollbar {
  width: 10px;
}

.user-profile-input-chip::-webkit-scrollbar-thumb {
  background-color: #9a93c5;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.user-profile-input-check-btn {
  padding: 10px;
}

.user-profile-input-chip-item {
  display: flex;
  /* align-items: center; */
  font-size: 22px;
}

.user-profile-input-chip-minus-img {
  padding-right: 13px;
}

.user-profile-input-chip-text {
  width: 310px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
}
