@import 'index.css';
@import 'assets/font/font.css';

.header-container {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 51px rgba(0, 0, 0, 0.08);
}

.header-logo {
  margin-right: 53px;
}

.header-wrap {
  height: 108px;
  max-width: 1730px;
  padding: 0px 95px;
  margin: 0 auto;

  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-family: 'dohyeon'; */
  /* font-weight: 900; */
}

.header-left-wrap {
  display: flex;
  align-items: center;
  float: left;
  /* border: 1px solid blue; */
}

.header-left-wrap ul {
  display: flex;
}

.header-left-wrap li {
  font-size: 1.406vw;
}

.header-right-wrap {
  display: flex;
  align-items: right;
  /* border: 1px solid green; */
}

.header-right-wrap ul {
  display: flex;
}

.header-right-wrap li {
  font-size: 1.406vw;
}

.header-nav-item {
  color: black;
  text-decoration: none;
}
