.admin-black-list-container{
  margin-top: 108px;
}

.admin-black-list-width{
  margin: 15% 10%;
}

.admin-black-list-header{
  display: flex;
  font-size: 44px;
  margin: 20px;
}

.admin-black-list-title{
  margin: auto;
}

