.admin-signal-week-container{
  margin-top: 108px;
}

.admin-signal-week-width{
  margin: 15% 10%;
}

.admin-signal-week-header{
  display: flex;
  font-size: 44px;
  margin: 20px;
}

.admin-signal-week-title{
  margin: auto;
}

