.container {
  /* position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 1150px;
  background-color: #DDDBEC; */

  width: 100%;
  text-align: center;
  /* display: flex;
  justify-content: center;
  width:1920px; */
  /* min-width: 1152px; */
  /* max-width: 1152px; */
}

.project-container {
  width: 1150px;
  display: inline-block;
  background-color: #dddbec;
  /* text-align: center;  */
  /* width: 1150px; */
  /* background-color: #DDDBEC; */
}

.project-section {
  display: inline-block;
  width: 980px;
  /* display: inline-block; */
  font-size: 20px;
  /* margin: 5% 0%; */
  /* width: 980px; */

  /* display: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* max-width: 1152px; */
  /* min-width: 1152px; */
}

.project-name-label {
  color: #574b9f;
  margin-bottom: 10px;
}

.project-name {
  display: flex;
}

.name-section {
  display: flex;
}

.position-section {
  display: flex;
}

.name-position-section {
  display: flex;
  justify-content: space-between;
}

.name-section,
.position-section {
  width: 45%;
}

.career-exp-section {
  display: flex;
  justify-content: space-between;
}

.exp-section,
.career-section {
  width: 45%;
}

.phone-section,
.email-section {
  display: flex;
  align-items: center;
}

.label {
  color: #463c7f;
}

.content-section > .label,
.question-answer-section > .label {
  width: 100%;
  font-size: 25px;
}

hr {
  border-color: #463c7f;
}

.apply-section {
  margin: 20px;
}

.name-position-section > div,
.phone-section > div,
.email-section > div,
.career-exp-section > div,
.content-section > div,
.question-answer-section > div {
  margin: 15px 0px;
}

.exp,
.career,
.content {
  padding: 10px 5px;
  font-size: 20px;
}

.submit-section {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.submit-section > Button {
  width: 60%;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.cancle-button {
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.cancle-title {
  position: relative;
  margin: 20px 50px;
  top: 25px;
}
.phone-section1,
.email-section1 {
  align-items: center;
}

.apply-detail-container {
  width: 1000px;
  font-size: 20px;
  margin: auto;
  margin-top: 50px;
}

.apply-detail-width-section {
  min-width: 800px;
}

.apply-detail-project-name-section,
.apply-detail-label {
  color: #574b9f;
}

.apply-detail-name-section,
.apply-detail-position-section,
.apply-detail-phone-section,
.apply-detail-email-section,
.skill-section {
  width: 50%;
}

.apply-detail-name-position-section {
  display: flex;
}

.apply-detail-label {
  width: 25%;
}

.apply-detail-skill {
  margin: auto;
}

.apply-detail-project-name-label {
  margin-bottom: 10px;
}

.apply-detail-project-title {
  color: #000000;
  font-size: 30px;
}

.apply-detail-application-section {
  margin: 20px;
}
