.Button {
  color: white;
  background-color: #574b9f;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 8px;
}

.Button:hover {
  color: #574b9f;
  background-color: white;
  border: 1px solid #574b9f;
  border-radius: 8px;
}

.input {
  width: 160px !important;
  font-size: 13px;
}

hr {
  border: 1.5px solid #dddbec;
  margin-top: 2%;
}

.container {
  padding: 5% 30% 5% 30%;
  font-size: 16px;
  line-height: 40px;
}

.application-section {
  background: #ffffff;
  box-shadow: 0px 100px 118px rgba(0, 0, 0, 0.07),
    0px 42.901px 54.555px rgba(0, 0, 0, 0.0522789),
    0px 24.0259px 31.2151px rgba(0, 0, 0, 0.0452643),
    0px 14.6546px 18.9473px rgba(0, 0, 0, 0.0400527),
    0px 8.95783px 11.4166px rgba(0, 0, 0, 0.0348643),
    0px 5.07954px 6.35751px rgba(0, 0, 0, 0.0284313),
    0px 2.22716px 2.73432px rgba(0, 0, 0, 0.0188555);
  padding: 5%;
}

.career-exp-section,
.phone-email-section,
.skill-meeting-section {
  display: flex;
  justify-content: space-between;
}

.exp-section,
.career-section,
.phone-section,
.email-section,
.meeting-section,
.skill-section {
  width: 45%;
}

.career-label,
.exp-label {
  display: flex;
  justify-content: space-between;
}

.SubmitButton {
  text-align: center;
}

.SubmitButton > .Button {
  width: 70%;
}
