.user-profile {
  z-index: -100;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

div {
  display: block;
}

.user-profile-container {
  min-height: 100%;
  background-color: #dddbec;
  /* background: url(src\assets\image\myprofile-back.png); */
}

.user-profile-background {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.user-profile-user {
  position: absolute;
  top: 40px;
  left: 150px;
  font-size: 24px;
  padding: 111px 93px;
  height: 195px
}

.user-profile-img{
  border-radius: 50%;
  width: 195px;
  height: 195px;
}

.user-profile-info{
  /* position: relative; */
    /* padding-left: 328px; */
    /* padding-top: 58px; */
}