.regist-back {
  min-height: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 108px;
  background-image: url('assets/image/myprofile-back.png');
  background-color: #dddbec;
}
.regist-container {
  width: 850px;
  margin: auto;
}

.regist-main {
  width: 100%;
  overflow: hidden;
  background-color: white;
  opacity: 80%;
  border-radius: 15px;
}

.regist-title {
  text-align: center;
  font-size: 47px;
  margin: 40px auto;
}

.regist-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regist-input-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.regist-input-label {
  font-size: 24px;
  margin-right: 20px;
}
