/* 테이블 헤더  */
th.MuiTableCell-root {
  font-size: 24px;
}

/* 테이블 바디 */
td.MuiTableCell-root {
  font-size: 20px;
  text-align: -webkit-center;
}

th.MuiTableCell-root.my-profile-table-head {
  font-size: 27px;
}

td.MuiTableCell-root.my-profile-table {
  height: 60px;
}

tr.MuiTableRow-root {
  border-bottom: 1px solid #dddbec;
  height: 62px;
}

tbody.MuiTableBody-root {
  height: 496px;
  border-top: 2px solid #796fb2;
  border-bottom: 2px solid #796fb2;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
