.team-building-page-container {
  /* width: 100%;
  font-size: 45px;
  margin-top: 158px;
  text-align: center; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 108px;
}

.team-building-page {
  width: 1125px;
  margin: auto;
}

.team-submit {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.team-building-submit-button {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
