/* kanban board */
.docs-container {
  width: 1110px;
  padding: 70px;
}

.docs-header {
  width: 100%;
  padding: 21px 16px;
  font-size: 27px;
  display: flex;
  border-bottom: 1px solid black;
}

.docs-title {
  padding: 0px 16px;
}

.docs-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 888px;
    height: 56px;
    border-radius: 14px;
    margin: 19px auto;
    padding: 0px 34px;
}

.docs-list-item-title{
    font-size: 22px;
    color: #616161;
}