/* 팀원 탭 */
.todo-person-tab-container{
  width:1100px;
  border-bottom: 2px solid black;
  margin: 30px;
  margin-bottom: 10px;
}

.todo-person-tab-list{
  display: flex;
  font-size: 24px;
  margin-left: 40px;
  width: 900px
}

.todo-person-tab{
  background-color: white;
  border:2px solid #796fb2;
  border-bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  display: flex;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.todo-person-tab.active{
  background-color: #796fb2;
  color: #fff;
}

.todo-date-container{
  /* position: absolute;
  right: 50px;
  top: 260px; */
  width: 1100px;
  display: flex;
  justify-content: flex-end;
}

/* kanban board */
.todo-kanban-container{
  display: flex;
  width: 1110px;
}

.todo-todos-container{
  width: 50%;
  height:100%;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

.todo-todos-header,
.todo-completed-header{
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.todo-todos-title,
.todo-completed-title{
  font-size: 27px;
}
.todo-completed-container{
  width: 50%;
  height:100%;
  margin-bottom: 30px;
}

.todo-todos-list,
.todo-completed-list{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  height: 900px;
}

.todo-todos-list::-webkit-scrollbar,
.todo-completed-list::-webkit-scrollbar
 {
  width: 10px;
}

.todo-todos-list::-webkit-scrollbar-thumb,
.todo-completed-list::-webkit-scrollbar-thumb {
  background-color: #9A93C5;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.todo-todos-list-item{
  width: 482px;
  height: 94px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #574B9F;
  font-size: 27px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 13px 0px;
  padding: 25px;
}

.todo-completed-list-item{
  width: 482px;
  height: 94px;
  background-color: #574B9F;
  color: white;
  border-radius: 10px;
  font-size: 27px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 13px 0px;
  padding: 25px;
}

.todo-todos-list-item:last-child,
.todo-completed-list-item:last-child{
  margin-bottom: 0px;
}

.todo-todos-list-item-container,
.todo-completed-list-item-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 30px;
}

.todo-todos-list-item-content,
.todo-completed-list-item-content{
  margin-bottom: 5px;
}

.todo-completed-list-item-content{
  text-decoration: line-through;
}

.todo-todos-list-item-regDt{
  font-size: 15px;
  color:#616161;
}

.todo-completed-list-item-regDt{
  font-size: 15px;
  color:#fff;
}

/* todo추가 Modal */
.todo-input-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input-title{
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  padding: 30px 0px;
}

.todo-input-input{
  width: 450px;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* 투두 수정 모달 */
.todo-modify-btn{
  display: flex;
}