.MainPage {
  height: 88vh;
  overflow: hidden;
}

.MainPage::-webkit-scrollbar {
  display: none;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.img-wrap {
  padding-bottom: 140px;
}

.text-item {
  font-size: 4.948vw;
  text-align: center;
  letter-spacing: 10px;
  padding: 17px 0px;
}

.btn-item {
  text-align: center;
  padding: 97.11px 0px;
  display: flex;
  justify-content: center;
}
