@import 'assets/font/font.css';

.left{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

.right{
    float:right;
    width: 50%;
    height: 100%;
}

.text-wrap{
    margin-top: 219.78px;
    /* line-height: 100%; */
    /* vertical-align: middle; */
}

.img-wrap{
    margin-top: 216.44px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.text-item{
    font-family: 'dohyeon';
    /* font-family: 'himelody'; */
    /* font-family: 'again'; */
    /* font-family: 'tree'; */
    /* font-family: 'nurse'; */
    /* font-weight: bold; */
    font-size: 95px;
    /* font-size: 110px; */
    text-align: center;
    letter-spacing: 10px;
    padding: 17px 0px;
}

.btn-item{
    text-align: center;
    padding: 97.11px 0px;
}