@import 'reset.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.root-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
